<nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md py-0 fixed-top">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">YelpCamp</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CAMPGROUNDS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/campgrounds">VIEW</a>
                <a class="dropdown-item" href="/campgrounds/new">ADD</a>
              </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="nav-item mr-4">
              <a href="#" class="nav-link">Signed In As <strong>{{currentUser.username}}</strong></a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li> 
          {{else}}              
            <li class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>  
            <li class="nav-item">
              <a href="/register" class="nav-link">Sign Up</a>
            </li> 
          {{/if}}              
        </ul>
    </div>
  </div>
</nav>
<br/><br/>